<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main_styles.css') }}">
    <script src="{{ url_for('static', filename='js/c_script.js') }}"></script>
    <meta charset="UTF-8">
    <title>Contatos</title>
    <link rel="icon" href="{{ url_for('static', filename='images/whitesimbol.png')}}" type="image/x-icon">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
</head>
<body>
    <nav>
        <h><img class="logo" src="{{ url_for('static', filename='images/graysimbol.jpg')}}" height="55px"> J. Álaf</h>
        <div id="div_btn">
            <img src="{{ url_for('static', filename='images/menu.svg') }}" height="35px">
            <ul id="menu_list" class="hidden">
                <li><a href="/">Home</a></li>
                <li><a href="contatos">Contato</a></li>
            </ul>
        </div>
    </nav>
    <div class="header">
        <div class="head">
            <div class="image_avatar">
                <img class="avatar" src="{{ url_for('static', filename='images/Simbol 3.jpg') }}">
            </div>
            <div class="details">
                <h>Jonas Álaf</h>
                <p>Web Developer</p>
                <p>Python Developer</p>
                <p>C++ Developer</p>
                <p>Graphic Designer</p>
                <p>Data Analyst</p>
                <p><br><img class="br" src="{{ url_for('static', filename='images/br.png') }}" height="11px">
                    Brazil · 24y</p>
            </div>
        </div>
    </div>
    <div class="c_body">
        <div class="box">
            <div class="box-icons">
                <img id="git" src="{{ url_for('static', filename='images/git_logo.png') }}" height="35px">
                <img id="linke" src="{{ url_for('static', filename='images/linkedin_logo.webp') }}" height="35px">
            </div>
            <div id="linha"></div>
            <form class="form">
                <h3 class="title">Deixe sua proposta!</h3>
                <label for="name">Nome: </label>
                <input class="form_camps" id="name" name="name" type="text">
                <label for="email">E-mail: </label>
                <input class="form_camps" id="email" name="email" type="email">
                <label for="assunto">Assunto: </label>
                <input class="form_camps" id="assunto" name="assunto" type="text"><br>
                <textarea class="form_camps_area" id="mensagem" rows="10" cols="50"></textarea><br>
            </form>
            <button id="enviar" class="enviar">Enviar</button>
        </div>
    </div>
    <div class="footer">
        <footer>
            <p>&copy; J. Alaf</p>
        </footer>
    </div>
    <script>
        document.getElementById('enviar').addEventListener('click', function() {
            // Obtém os valores dos campos de entrada
            var name = document.getElementById('name').value;
            var email = document.getElementById('email').value;
            var assunto = document.getElementById('assunto').value;
            var mensagem = document.getElementById('mensagem').value;
            
            // Envia os dados para o script Google Apps Script
            var url = 'https://script.google.com/macros/s/AKfycbyM2Z9hVVl37m8OFTRKS4IM4pQGzmWm1aZktlq8wgoihN4ltb9PW2PVlhVaRsa1wjbr/exec';
            var formData = new FormData();
            formData.append('name', name);
            formData.append('email', email);
            formData.append('assunto', assunto);
            formData.append('mensagem', mensagem);
    
            fetch(url, {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro ao enviar o formulário.');
                }
                return response.text();
            })
            .then(data => {
                alert(data); // Exibe uma mensagem de sucesso ou erro
            })
            .catch(error => {
                console.error('Erro:', error);
                alert('Erro ao enviar o formulário. Por favor, tente novamente.');
            });
        });
    </script>    
</body>