<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main_styles.css') }}">
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Projeto Mercado Financeiro</title>
</head>
<body>
    <nav>
        <h><img class="logo" src="{{ url_for('static', filename='images/graysimbol.jpg')}}" height="55px"> J. Álaf</h>
    </nav>
    <div  class="header_proj">
        <img class="banner_bt" src="{{ url_for('static', filename='images/bt_banner2.jpg')}}">
    </div>
    <div class="b_bt">
        <div class="title_uni">
            <h3>Projeto Economia (RPC) - Análise de Dados</h3>
        </div>
        <div class="side_by_side">
            <div class="column_uni">
                <p class="t_columns">
                    Primeiramente fazemos uma verificação dos dados da base de dados visualizando as primeiras 10 linhas da base.
                </p>
                <img src="{{ url_for('static', filename='images/bt_head.png')}}" height="300px">
                <p class="t_columns">
                    Depois agrupamos os dados pelos estados e pelos anos relacionado a cada informação.
                </p>
                <img src="{{ url_for('static', filename='images/bt_plot1.png')}}" height="200px">
                
            </div>
            <div class="column_uni">
                <p class="t_columns">
                    E no final plotamos um relatório completo de cada estado e os anos relacionados as informações retiradas.
                </p>
                <img src="{{ url_for('static', filename='images/bt_plot2.png')}}" height="210px">
                <p class="t_columns">
                    Podemos ver em nosso relatório que o maior PIB do país está localizado no Distrito Federal, enquanto o menor está em Rondônia. E o Brasil tem uma média comparado ao Distrito Federal.
                </p>
            </div>
        </div>
    </div>
    <div class="footer">
        <footer>
            <p>&copy; J. Alaf</p>
        </footer>
    </div>
</body>
</html>