<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/Portifolio/static/css/main_styles.css">
    <meta charset="UTF-8">
    <title>Projeto Educação</title>
    <link rel="icon" href="/Portifolio/static/images/whitesimbol.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav>
        <h><img class="logo" src="/Portifolio/static/images/graysimbol.jpg" height="55px"> J. Álaf</h>
    </nav>
    <div class="header_proj">
        <img id="img_proj" class="banner_edu" src="/Portifolio/static/images/banner_provas.webp">
    </div>
    <div class="b_proj">
        <div class="title_uni">
            <h3>Projeto Educação - Análise de Dados</h3>
        </div>
        <div class="side_by_side">
            <div class="column_uni">
                <p class="t_columns">Link para os arquivos do projeto: <a href="https://github.com/DocStriker/Analise-de-Dados/tree/4990f5e1343cdb2fa390e30634794bf12f17fa29/Projeto%20Educa%C3%A7%C3%A3o%20-%20An%C3%A1lise%20de%20Dados">Projeto Bitcoin</a></p>
                <p class="t_columns">
                    Iniciamos nossa análise visualizando apenas as primeiras 5 linhas da nossa base de dados para verificar se está
                    tudo em ordem.
                </p>
                <img src="/Portifolio/static/images/head_edu.png" height="110px">
                <p class="t_columns">
                    Em seguida verificamos se há campos nulos na base de dados.
                </p>
                <img src="/Portifolio/static/images/anal_campos_nulos_edu.png" height="190px">
                <p class="t_columns">
                    Na primeira análise estatística temos que o desempenho dos homens na prova de matématica foram melhores
                    do que as mulheres por sua mediana e maiores médias de notas, porém nas duas provas seguintes, na de leitura
                    e escrita, as mulheres tiveram melhor desempenho, porém nas três provas podemos observar outliers de notas mais
                    baixas em relação aos homens. As mulheres nessa base de dados estão representando 51% dos dados totais relacionados
                    aos alunos.
                </p>
                <img src="/Portifolio/static/images/math_gender_edu.png" height="250px">
                <img src="/Portifolio/static/images/read_gender_edu.png" height="250px">
                <img src="/Portifolio/static/images/write_gender_edu.png" height="250px">
                <p class="t_columns">
                    Logo em seguida temos a comparaçção em relação a coluna de raça e etnia, na qual podemos ver que o grupo E
                    obteve um maior desempenho em relação à outros grupos da coluna demonstrando uma mediana maior e menos outliers.
                </p>
                <img src="/Portifolio/static/images/math_re_edu.png" height="250px">
                <img src="/Portifolio/static/images/read_re_edu.png" height="250px">
                <img src="/Portifolio/static/images/write_re_edu.png" height="250px">
            </div>
            <div class="column_uni">
                <p class="t_columns">
                    Aqui temos uma comparação relacionando o nível de educação dos pais e o desempenho dos alunos nas três
                    provas, na qual os alunos que tem os pais com mestrado obtiveram melhor desempenho em comparação aos outros
                    níveis de educação.
                </p>
                <img src="/Portifolio/static/images/math_parental_edu.png" height="250px">
                <img src="/Portifolio/static/images/read_parental_edu.png" height="250px">
                <img src="/Portifolio/static/images/write_parental_edu.png" height="250px">
                <p class="t_columns">
                    Por fim fizemos uma análise para entender se os alunos que fizeram um curso preparatório tiveram melhores
                    notas do que os alunos que não fizeram um curso preparatório, e fica evidente que os alunos que fizeram o curso
                    tiveram um melhor desempenho do que os que não fizeram.
                </p>
                <img src="/Portifolio/static/images/math_test_edu.png" height="250px">
                <img src="/Portifolio/static/images/read_test_edu.png" height="250px">
                <img src="/Portifolio/static/images/write_test_edu.png" height="250px">
                <p class="t_columns">
                    Nesse projeto apenas fizemos uma análise estatística da base de dados em questão, sem afirmar nada sobre
                    fatos reais.
                </p>
            </div>
        </div>
    </div>
    <div class="footer">
        <footer>
            <p>&copy; J. Alaf</p>
        </footer>
    </div>
</body>
</html>