<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/css/main_styles.css">
    <meta charset="UTF-8">
    <script src="static/js/script.js"></script>
    <title>Projeto Mercado Financeiro</title>
</head>
<body>
    <nav>
        <h><img class="logo" src="static/images/graysimbol.jpg" height="55px"> J. Álaf</h>
    </nav>
    <div  class="header_proj">
        <img class="banner_ener" src="static/images/ener_banner.png">
    </div>
    <div class="b_ener">
        <div class="title_uni">
            <h3>Projeto Empresas de Energia - Análise de Dados</h3>
        </div>
        <div class="side_by_side">
            <div class="column_uni">
                <p class="t_columns">
                    Primeiramente fazemos uma verificação dos dados da base de dados visualizando as primeiras 5 linhas da base para termos uma noção dos dados da base.
                </p>
                <img src="static/images/ener_head.png" height="200px">
                
            </div>
            <div class="column_uni">
                <p class="t_columns">
                    Depois fazemos uma plotagem em linhas para comparar todas as empresas de energia na base de dados para verificarmos o comportamento dos valores das ações de cada uma. 
                    E em uma análise simples do gráfico podemos ver que a Petrobrás e a AES Brasil se sobressaem pelo número alto no valor de suas ações, e podemos notar também
                    que todas as empresas tiveram um aumento no valor da suas ações no ano de 2022 no final do mês de Março e no início do mês de Abril.
                </p>
                <img src="static/images/enen_graf.png" height="400px">
            </div>
        </div>
    </div>
    <div class="footer">
        <footer>
            <p>&copy; J. Alaf</p>
        </footer>
    </div>
</body>
</html>