<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/Portifolio/static/css/main_styles.css">
    <meta charset="UTF-8">
    <title>Projeto Mercado Financeiro</title>
    <link rel="icon" href="Portifolio/static/images/whitesimbol.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav>
        <h><img class="logo" src="/Portifolio/static/images/graysimbol.jpg" height="55px"> J. Álaf</h>
    </nav>
    <div  class="header_proj">
        <img id="img_proj" class="banner_fin" src="/Portifolio/static/images/banner_fin.jpg">
    </div>
    <div class="b_proj">
        <div class="title_uni">
            <h3>Projeto Mercado Financeiro - Análise de Dados</h3>
        </div>
        <div class="side_by_side">
            <div class="column_uni">
                <p class="t_columns">Link para os arquivos do projeto: <a href="https://github.com/DocStriker/Analise-de-Dados/tree/4990f5e1343cdb2fa390e30634794bf12f17fa29/Projeto%20Mercado%20Finaceiro%20-%20An%C3%A1lise%20de%20Dados">Projeto Bitcoin</a></p>
                <p class="t_columns">
                    Iniciamos nossa análise visualizando as primeiras e últimas 5 linhas do nosso banco de dados para verificar se está
                    tudo em ordem com o mesmo, como mostra as imagens abaixo.
                </p>
                <img src="/Portifolio/static/images/head_fin.png" height="150px">
                <img src="/Portifolio/static/images/tail_fin.png" height="195px">
                <p class="t_columns">
                    Logo após plotamos um gráfico simples para visualizar inicialmente o comportamento da ação.
                </p>
                <img src="/Portifolio/static/images/graf_fin.png" height="190px">
                <p class="t_columns">
                    Em seguida fazemos um gráfico de média móvel da ação e média tendência da mesma.
                </p>
                <img src="/Portifolio/static/images/media_fin.png" height="190px">
            </div>
            <div class="column_uni">
                <p class="t_columns">
                    Abaixo podemos ver por meio do gráfico boxplot o nível de variação da ação ao longo dos meses.
                </p>
                <img src="/Portifolio/static/images/boxplot_fin.png" height="190px">
                <p class="t_columns">
                    Por fim plotando um gráfico estilo Bovespa para indentificar as altas e baixas da ação.
                </p>
                <img src="/Portifolio/static/images/bov_fin.png" height="350px">
                <p class="t_columns">
                    Estatisticamente falando podemos afirmar que a ação da Magalu em 2021 iniciou com R$25,26, teve uma alta variação
                    no mês de Março, uma menor variação no mês de Junho, e fechou o ano com uma alta queda chegando a R$7,22.
                </p>
            </div>
        </div>
    </div>
    <div class="footer">
        <footer>
            <p>&copy; J. Alaf</p>
        </footer>
    </div>
</body>
</html>