<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/Portifolio/static/css/main_styles.css">
    <meta charset="UTF-8">
    <title>Projeto Incêndios Florestais</title>
    <link rel="icon" href="/Portifolio/static/images/whitesimbol.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav>
        <h><img class="logo" src="/Portifolio/static/images/graysimbol.jpg" height="55px"> J. Álaf</h>
    </nav>
    <div  class="header_proj">
        <img id="img_proj" class="banner_inc" src="/Portifolio/static/images/inc_banner.jpg">
    </div>
    <div class="b_proj">
        <div class="title_uni">
            <h3>Projeto Incêndios Florestais - Análise de Dados</h3>
        </div>
        <div class="side_by_side">
            <div class="column_uni">
                <p class="t_columns">Link para os arquivos do projeto: <a href="https://github.com/DocStriker/Analise-de-Dados/tree/4990f5e1343cdb2fa390e30634794bf12f17fa29/Projeto%20Inc%C3%AAndios%20Florestais%20-%20An%C3%A1lise%20de%20Dados">Projeto Incêndios Florestais</a></p>
                <p class="t_columns">
                    Primeiramente começamos nosso projeto fazendo a verificação dos dados visualizando as primeiras 5 linhas do base de dados e depois visualizamos o resumo estatístico
                    dos dados.
                </p>
                <img src="/Portifolio/static/images/inc_head.png" height="200px">
                <img src="/Portifolio/static/images/inc_describe.png" height="200px">
                <p class="t_columns">
                    Depois verificamos se há campos nulos na base de dados, e como mostrado abaixo, não existem campos nulos.
                </p>
                <img src="/Portifolio/static/images/inc_nulos.png" height="300px">
                <p class="t_columns">
                    Depois fazemos um plot de linhas para visualizarmos o total de incêndios por ano desde 1997 até 2017, e podemos ver que o crescimento do número de incêndios é evidente.
                </p>
                <img src="/Portifolio/static/images/inc_linhas.png" height="300px">
                <p class="t_columns">
                    Logo depois fazemos um gráfico de tipo Boxplot para podermos visualizar o número total de incêndios por mês, e podemos notar que o número é mais acentuado nos meses de Julho e Agosto.
                </p>
                <img src="/Portifolio/static/images/inc_boxplot.png" height="300px">
                
                
            </div>
            <div class="column_uni">
                <p class="t_columns">
                    Depois verificamos os estados com maiores números de incêndios com o gráfico de barras. E aqui fica notável que a região do Mato Grosso teve o maior números de incêndios no total.
                </p>
                <img src="/Portifolio/static/images/inc_bar.png" height="340px">
                <p class="t_columns">
                    Para confirmar se foi sempre assim, plotamos um gráfico de linhas com um top 10 dos estados que tiveram maior número de incêndios por ano, e podemos ver que nem sempre o Mato Grosso foi o estado
                    que teve maior númeor de incêndios, em 1997 o estado que começou a ter um número alto de incêndios foi a Bahia de acordo com os dados até então registrado na base de dados.
                </p>
                <img src="/Portifolio/static/images/inc_multlines.png" height="300px">
                <p class="t_columns">
                    E por final fizemos um mapa de calor para identificar as regiões com casos de incêndios pelo Brasil. E como é notável nesse mapa, a região do Mato Grosso se sobressai.
                </p>
                <img src="/Portifolio/static/images/mapa_incendios.png" width="800px">
            </div>
        </div>
    </div>
    <div class="footer">
        <footer>
            <p>&copy; J. Alaf</p>
        </footer>
    </div>
</body>
</html>