<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main_styles.css') }}">
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Projeto Mercado Financeiro</title>
</head>
<body>
    <nav>
        <h><img class="logo" src="{{ url_for('static', filename='images/graysimbol.jpg')}}" height="55px"> J. Álaf</h>
    </nav>
    <div  class="header_proj">
        <img class="banner_inc" src="{{ url_for('static', filename='images/inc_banner.jpg')}}">
    </div>
    <div class="b_bt">
        <div class="title_uni">
            <h3>Projeto Economia (RPC) - Análise de Dados</h3>
        </div>
        <div class="side_by_side">
            <div class="column_uni">
                <p class="t_columns">
                    Primeiramente fazemos uma verificação dos dados da base de dados visualizando as primeiras 10 linhas da base para termos uma noção da distribuição das informações.
                </p>
                <img src="{{ url_for('static', filename='images/bt_head.png')}}" height="300px">
                <p class="t_columns">
                    Depois fazemos uma plotagem de série temporal para analisarmos o comportamento do bitcoin ao longo do ano.
                </p>
                <img src="{{ url_for('static', filename='images/bt_plot1.png')}}" height="200px">
                <p class="t_columns">
                    E podemos notar que a primeira venda foi em torno de $1000,00 doláres em março de 2017, houve uma subida de $20mil doláres em janeiro de 2018, e depois um queda para só em janeiro
                    de 2021 subir abruptamente para a casa dos $64mil doláres e no final do ano chegar no pico de quase $70mil doláres.
                </p>
                
            </div>
            <div class="column_uni">
                <p class="t_columns">
                    Tiramos as média móveis e tendências para termos uma visão melhor do comportamento das ações do bitcoin ao longo dos anos.
                </p>
                <img src="{{ url_for('static', filename='images/bt_plot2.png')}}" height="210px">
                <p class="t_columns">
                    Por fim podemos dizer em uma análise financeira que se investissémos na moeda digital no ano de 2017, no início de seu lançamento, consiguiriamos opter altos valores como retorno até o final
                    do ano de 2021 onde ocorre o maior valor da moeda historicamente.
                </p>
            </div>
        </div>
    </div>
    <div class="footer">
        <footer>
            <p>&copy; J. Alaf</p>
        </footer>
    </div>
</body>
</html>