<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/css/main_styles.css">
    <meta charset="UTF-8">
    <script src="js/script.js"></script>
    <title>Projeto Startup Unicórnios</title>
</head>
<body>
    <nav>
        <h><img class="logo" src="images/graysimbol.jpg" height="55px"> J. Álaf</h>
    </nav>
    <div  class="header_proj">
        <img class="img_proj" src="images/uni.jpg">
    </div>
    <div class="b_uni">
        <div class="title_uni">
            <h3>Projeto Startups Unicórnios - Análise de Dados</h3>
        </div>
        <div class="side_by_side">
            <div class="column_uni">
                <p class="t_columns">
                    Iniciamos nossa análise visualizando as primeiras 5 linhas do nosso banco de dados para verificar se está
                    tudo em ordem com o mesmo, como mostra a imagem abaixo.
                </p>
                <img src="images/anal_bd_uni.png" height="150px">
                <p class="t_columns">
                    Logo após fazemos uma varredura nos campos nulos do banco de dados e plotamos esses campos em um mapa de calor,
                    onde pode-se verificar pelas linhas brancas os campos nulos em si.
                </p>
                <img src="images/anal_campos_nulos_uni.png" height="240 px">
                <p class="t_columns">
                    O próximo passo que foi feito, foi ordenar e verificar quais foram os setores que mais aparecem no banco de dados.
                </p>
                <img src="images/anal_ranking_setores_uni.png" height="390px">
                <p class="t_columns">
                    Aqui abaixo fizemos um gráfico de pizza rankeando os países que tem mais startups unicórnios em um top 5.
                </p>
                <img src="images/anal_top_paises_uni.png" height="400px">
                </div>
            <div class="column_uni">
                <p class="t_columns">
                    Abaixo podemos ver por ordem de data, quais foram as primeiras startups unicórnios que surgiram. Assim como
                    a primeira startup brasileira.
                </p>
                <img src="images/primeira_uni.png" height="300px">
                <img src="images/primeira_uni_brasil.png" height="300px">
                <p class="t_columns">
                    Aqui fazemos uma tabela ordenando todos os países pelo total de Valuation em startups.
                </p>
                <img src="images/valuation_paises_uni.png" height="400px">
                <p class="t_columns">
                    E por final plotamos esse resultado em um gráfico de curvas.
                </p>
                <img src="images/plot_valuation_paises_uni.png" height="270px">
                <p class="t_columns">
                    Portanto, para essa análise simples para startups unicórnios no mundo, concluímos que os setores
                    de startups, Fintech, Internet software & services e E-commerve & direct-to-consumer, correspondem
                    a 47,8% das startups do que os demais setores. Entre os países com mais startups unicórnios, estão
                    em top 3 os Estados Unidos, a China e a India, totalizando em um total de 74,2% das startups mundiais,
                    ficando o Brasil em 9 lugar no ranking com 1,4% das startups mundiais. Na análise podemos ver também
                    que a primeira empresa a se tornar uma startup unicórnio foi a Veepee em julho de 2017 na França,
                    já no Brasil a primeira startup a se tornar um unicórnio foi a Movile em julho de 2018. Entre os países
                    com maior Valuation em startups, estão em top 3 os Estados Unidos com $2069,89 Bilhões de dolares,
                    a China com $678,59 Bilhões de dolares e o Reino Unido com $205,45 Bilhões de dolares em startups,
                    o Brasil ainda persiste em 9 lugar nesse ranking de Valuation com $40,08 Bilhões de dolares
                    em startups unicórnios.
                </p>
            </div>
        </div>
    </div>
    <div class="footer">
        <footer>
            <p>&copy; J. Alaf</p>
        </footer>
    </div>
</body>
</html>